@use "../../styles/theme";

.top {
  position: relative;
  .title {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%) translateY(-10%);
    color: white;
    font-family: "Poppins";
    text-align: center;
    font-size: larger;
  }
  h1,
  p {
    margin: 0;
  }
}
.bg {
  width: calc(100vw + 16px);
  margin: 0;
  margin-left: -4px;
  filter: brightness(0.7);
  max-height: 50vh;
  min-height: 40vh;
  object-fit: cover;
}
.wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 64px 0;
  justify-content: center;
  position: relative;
}
.container {
  display: flex;
}
.card {
  border-bottom-right-radius: 48px;
  border-top-left-radius: 48px;
  background-color: theme.$offwhite;
  max-width: 70%;
  z-index: 2;
}
.form {
  flex-basis: 60%;
  padding: 16px;
  margin-left: 16px;
  margin-top: 16px;
  form {
    display: flex;
    flex-direction: column;
    input {
      margin-top: 8px;
    }
    button {
      margin-top: 12px;
      width: fit-content;
    }
    div {
      display: flex;
      width: 100%;
      input {
        flex-basis: 50%;
      }
    }
  }
}
.details {
  display: flex;
  flex-basis: 40%;
  flex-direction: column;
  background-color: theme.$primary;
  border-bottom-right-radius: 48px;
  div {
    padding: 16px;
    flex-grow: 1;
    div {
      display: flex;
      flex-direction: column;
      font-weight: 600;
      span:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
}

.image {
  max-width: 100%;
  height: auto;
  border-bottom-right-radius: 48px;
}

@media (max-width: 900px) {
  .card {
    max-width: 90%;
  }
  .container {
    flex-direction: column;
  }
  .social {
    display: none !important;
  }
}

@media (max-width: 600px) {
  .title {
    width: 70vw;
    bottom: 5%;
    transform: translateX(-50%) translateY(-5%);
    h1 {
      font-size: 24px;
    }
    p {
      font-size: 16px;
    }
  }
  .form {
    margin-left: 0px;
    form {
      input {
        margin-top: 8px;
      }
      div {
        display: block;
        input {
          margin-left: 0px !important;
          width: 100%;
        }
      }
    }
  }
}