@use "../../styles/theme";

.landing {
  padding: 16px;
  background-color: theme.$bg2;
  height: 100vh;
  h1 {
    border-left: 6px solid theme.$primary;
    padding: 8px;
    margin-left: 16px;
  }
  h2 {
    margin-left: 56px;
  }
}

.landingImage {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.doodleDot1,
.doodleDot2 {
  position: absolute;
  z-index: -1;
  width: 200px;
}

.doodleDot1 {
  top: -100px;
  right: -50px;
}

.doodleDot2 {
  bottom: -100px;
  left: -50px;
}

.lamps {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
}

.triangle1,
.triangle2 {
  position: absolute;
  width: 20vw;
}

.triangle1 {
  top: 50%;
  left: -5vw;
}

.triangle2 {
  top: 30%;
  right: -7vw;
}

.circle1,
.circle2,
.circle3,
.circle4 {
  width: 20vw;
  height: 20vw;
  background-color: theme.$primary;
  filter: blur(435px);
  position: absolute;
  z-index: 0;
}

.circle1 {
  top: -20%;
  right: 0%;
}

.circle2 {
  top: 30%;
  left: 20%;
}

.circle3 {
  top: 20%;
  left: 70%;
}

.circle4 {
  top: 60%;
  left: 40%;
}
.imageWithSquare {
  background: theme.$primary;
  position: relative;
  z-index: 10;
  img {
    transform: translate(-32px, 32px);
  }
}

.container {
  display: flex;
  background-color: theme.$bg2;
  padding: 16px;
  padding-bottom: 32px;
  .half {
    flex-basis: 50%;
    padding: 16px;
  }
  .half2 {
    flex-basis: 50%;
    padding: 16px;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    div {
      width: fit-content;
      img {
        max-width: 400px;
      }
    }
  }
}

.kitchenLayout {
  padding: 24px 36px;
  background-color: theme.$bg2;
  position: relative;
  padding-bottom: 72px;
  h2,
  p {
    max-width: 50vw;
  }
  * {
    z-index: 1;
  }
}

.triangle3, .square1, .square2, .circle5, .circle6, .circle7 {
  position: absolute;
  z-index: 0;
}

.triangle3 {
  width: 20vw;
  top: 30%;
  left: -5vw;
}
.square1 {
  width: 20vw;
  top: 30%;
  right: -5vw;
}
.square2 {
  width: 20vw;
  bottom: -5vw;
  right: 5vw;
}
.circle5, .circle6, .circel7 {
  width: 10vw;
  height: 10vw;
  filter: blur(200px);
  background-color: theme.$primary;
}
.circle5 {
  top: 30%;
  left: 30%;
}
.circle6 {
  top: 10%;
  left: 60%;
}
.circle7 {
  top: 60%;
  left: 90%;
}
.card {
  margin: 16px;
  display: flex;
  flex-direction: column;
  background-color: theme.$primary;
  width: fit-content;
  border-radius: 20px;
  img {
    width: 100%;
    max-width: 300px;
    margin: 0;
  }
  .imageContainer {
    padding: 0;
  }
  .text {
    padding: 8px 16px;
    h4,
    p {
      margin: 0px;
    }
  }
}

.allCards {
  display: flex;
}
