@use "../../styles/theme";
.container {
  background-color: theme.$bg2;
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  padding: 32px;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.section {
  display: flex;
}
.b1 {
  background: #fff5e1;
  border: 3px solid #f4b32a;

  border-radius: 20px 0px;
  padding: 16px 24px;
  max-width: 375px;
  min-width: 300px;
  margin: 30px;
  display: flex;

  span {
    display: block;
    width: 24px;
    height: 24px;
    border: 1px solid #f4b32a;
    border-radius: 50%;
    margin: 4px;

    background-color: white;
  }

  h2,
  h3 {
    margin: 4px 8px;
  }
  p {
    margin: 0;
  }
}
.b0 {
  background: #fff5e1;
  border: 3px solid #f4b32a;

  border-radius: 20px 0px;
  padding: 16px 24px;
  max-width: min-content;
  min-width: 350px;
  margin: 30px;
  display: flex;
  flex-direction: column;

  h2,
  h3 {
    margin: 4px 8px;
  }
  p {
    margin: 20px;
  }
}
.buttons1 {
  button {
    margin: 0 40px;
  }
}

@media screen and (max-width: 1000px) {
  .section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 570px) {
  .b1,
  .b0 {
    max-width: 80vw;
  }
  .est {
    max-width: 80vw;
  }
  
}
.decoratives * {
  position: absolute;
  z-index: 0;
}
