@use "../../styles/theme";

.inp {
    background-color: white;
    padding: 16px 24px;
    border-radius: 8px;
    border: none;
    font-family: 'Spectral';
}

.inp :focus, .inp :focus-visible{
    outline: none;
    box-shadow: 0 0 2px #ccc;
}

.small {
    padding: 8px 12px;
}

.border {
    border: 2px solid theme.$primary;
}
