@use "../../../styles/theme";

.container {
  background-color: #ffeabc;
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  padding: 32px;
  position: relative;
}

.backgroundCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px;
  border-top-left-radius: 36px;
  border-bottom-right-radius: 36px;
  position: relative;
  z-index: 100;
}

.head {
  align-self: flex-start;
  position: relative;
  z-index: 2;
}

.imageWithSquare {
  background: theme.$primary;
  position: relative;
  z-index: 10;
  margin-right: 64px;
  width: 40vw;
  height: fit-content;
  img {
    transform: translate(32px, 32px);
    width: 40vw;
  }
}

.square1 {
  top: 0;
  right: 0;
  position: absolute;
  z-index: 0;
}

.square2 {
  left: 0;
  bottom: 0;
  position: absolute;
  z-index: 0;
}

.kitchenTypeHolder {
  display: flex;
  padding: 32px 16px;
  align-items: center;
}

.rightBar,
.dataForm {
  background-color: theme.$primary;
  border-top-right-radius: 32px;
  border-top-left-radius: 32px;
  min-width: 400px;
}

.selectLocation {
  background: #fff;
  width: 100%;
  border: none;
  border-radius: 8px;
  padding: 16px 24px;
}

.rightBar {
  display: flex;
  flex-direction: column;
  h2 {
    padding: 16px;
    flex-grow: 1;
  }
}

.dataForm {
  width: 100%;
  background-color: #fdd990;
  padding: 16px;
  align-self: flex-end;
  input {
    width: 100%;
  }
}

.buttons {
  margin-top: 24px;
  z-index: 2;
  button {
    margin-left: 12px;
    margin-right: 24px;
    min-width: 150px;
  }
}

.rightBarTitle {
  display: flex;
}

@media screen and (max-width: 900px) and (min-width: 500px) {
  .rightBarTitle {
    img {
      max-width: 20vw;
      height: fit-content;
      align-self: center;
    }
  }
  .kitchenTypeHolder {
    flex-direction: column;
    .imageWithSquare {
      width: 60vw;
      img {
        width: 60vw;
      }
    }

    .rightBar {
      margin-top: 64px;
      width: 60vw;
      min-width: 60vw;
      .dataForm {
        width: 60vw;
        min-width: 60vw;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .rightBarTitle {
    flex-direction: column;
    h2 {
      margin-bottom: -16px;
    }
    img {
      max-height: 30vw;
      width: fit-content;
      // max-width: 30vw;
      // height: fit-content;
      align-self: center;
    }
  }
  .kitchenTypeHolder {
    flex-direction: column;
    .imageWithSquare {
      width: 60vw;
      img {
        width: 60vw;
        transform: translate(24px, 24px);
      }
    }

    .rightBar {
      margin-top: 64px;
      width: 80vw;
      min-width: 80vw;
      .dataForm {
        width: 80vw;
        min-width: 80vw;
      }
    }
  }
  .buttons button {
    margin-left: 8px !important;
    margin-right: 12px !important;
    min-width: 50px !important;
  }
}
