@use "../../styles/theme";

.container {
  background-color: #ffeabc;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  padding: 32px;
}
.backgroundCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px;
  border-top-left-radius: 36px;
  border-bottom-right-radius: 36px;
  position: relative;
  z-index: 100;
}
.card {
  border-bottom-right-radius: 48px;
  border-top-left-radius: 48px;
  background-color: #fff5e1;
  width: min-content;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  position: relative;
  min-width: 70vw;
  svg,
  button {
    margin-top: 8px;
  }
}

.head {
  align-self: flex-start;
  position: relative;
  z-index: 2;
}

.square1 {
  top: 0;
  right: 0;
  position: absolute;
  z-index: 0;
}

.square2 {
  left: 0;
  bottom: 0;
  position: absolute;
  z-index: 0;
}

.buttons {
  margin-top: 24px;
  z-index: 2;
  button {
    margin-left: 12px;
    margin-right: 24px;
    min-width: 150px;
  }
}
.kitchenTypeCard {
  padding: 36px;
  min-width: 50vw;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 12px;
}

.choice {
  background: white;
  border: 3px solid theme.$primary;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 16px;
  margin-left: 16px;
  min-height: 125px;
  min-width: 300px;
  max-width: 375px;
  display: flex;
  .radio {
    height: 24px;
    width: 24px;
    border-radius: 12px;
    background-color: white;
    border: 1px solid theme.$primary;
    display: block;
  }

  h4 {
    margin: 0 0;
  }
  .choiceContent {
    margin-left: 12px;
  }
}

@media screen and (max-width: 1000px) {
  .row {
    flex-direction: column;
    max-width: 80vw;
    margin-top: 0;
  }
  .choice {
    margin-top: 8px;
  }
}
@media screen and (max-width: 570px) {
  .buttons button {
    margin-left: 8px !important;
    margin-right: 12px !important;
    min-width: 50px !important;
  }
}
