// .container {
//   background-color: #fff4dc;
// }

.bgimg {
  width: 100vw;
  z-index: 1;
  position: relative;
}

.ourvision {
  display: flex;
  padding: 12px;
}

@media (max-width: 600px) {
  .container {
    overflow-x: hidden;
  }
  .ourvision {
    flex-direction: column;
    position: relative;
  }
  .started1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 10% !important;
    padding: 0% !important;
  }

  .line {
    position: absolute;
    width: 37% !important;

    margin-top: -7%;
    left: -13% !important;
  }
  .line1 {
    position: absolute;
    width: 50% !important ;
    margin-top: -7%;
  }
  .line2,
  .line3 {
    position: absolute;
    width: 50% !important;
    margin-top: -6% !important;
  }
  .img2 {
    position: absolute;
    width: 54% !important;
    height: 45% !important;
  }
  .paracontainer {
    flex-direction: column;
  }
  .howstart {
    flex-direction: column-reverse;
  }

  .dots {
    position: absolute;

    width: 35%;
    height: 60%;
    top: 1% !important;
    left: 10% !important;
  }
  .dots3 {
    position: absolute;
    width: 35%;
    height: 60%;
    top: -13% !important;
    left: 4% !important;
  }
  .triangles4 {
    position: absolute;
    width: 40%;
    height: 40%;

    left: 70% !important;
    top: 10% !important;
  }
  .triangles {
    position: absolute;
    width: 40%;
    height: 40%;

    left: 70% !important;
    top: 60% !important;
  }
  .dots1 {
    position: absolute;

    width: 35%;
    height: 60%;
    top: -2% !important;
  }
}

.img1 {
  width: 70%;
  height: 70%;
  padding-top: 30px;
  padding-left: 69px;
  z-index: 1;
  position: relative;
}
.abt {
  // margin-top: 13%;
  z-index: 1;
  // top: -2%;
  // position: absolute;
  // padding-left: 80px;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.vsn {
  // padding-left: 80px;
  margin-top: 8%;
  text-align: left;
  padding-left: 40px;
}
.msn {
  // padding-left: 80px;
  margin-top: 8%;
  text-align: center;
}
.paracontainer {
  flex-basis: 50%;
  padding-left: 30px;
}
.started,
.he3 {
  text-align: center;
}
.howstart {
  position: relative;
  align-items: center;
}
.img2 {
  width: 20%;
  height: 20%;
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  margin: auto;
  z-index: 1;
  position: relative;
}
.started1 {
  padding-left: 230px;
  padding-right: 230px;
}
.ddots,
.ddots1,
.drdots,
.square1 {
  position: relative;
}
.dots {
  position: absolute;
  top: -60px;
}
.dots1 {
  position: absolute;
  left: 50%;
  top: -60px;
  z-index: 0;
}
.triangles {
  position: absolute;
  top: 75%;
  left: 85%;
}
.triangles1 {
  position: absolute;
  right: 85%;
  top: -60%;
}
.dots3 {
  position: absolute;
  align-items: center;
  justify-content: center;
  top: -1%;
  left: 32%;
  z-index: 0;
}
.triangles2 {
  position: absolute;
  left: 86%;
  top: -2%;
}
.squares {
  position: absolute;
  top: 65%;
  left: 70%;
}
.triangles3 {
  position: absolute;
  top: -27%;
  right: 85%;
}
.line {
  width: 13%;
  border: 4px solid #000000;
  position: relative;
  top: -5%;
  left: -35%;
}
.line1 {
  width: 13%;
  border: 4px solid #000000;
  position: relative;
  top: -5%;
}
.line2 {
  width: 7%;
  border: 4px solid #000000;
  position: relative;
  margin-top: -1%;
}
.line3 {
  width: 7%;
  border: 4px solid #000000;
  position: relative;
  margin-top: -1%;
}
.triangles4 {
  position: absolute;
  top: 30%;
  left: 30%;
  z-index: 0;
}
