.container{
    background-color: #FFF4DC;
}

.bgimg{
    width: 100vw;
    
}

.ourvision{
    display: flex;
    padding:  12px;
}
.img1{
        width: 70%;
            height: 70%;
            padding-top: 30px;
            padding-left: 69px;
            z-index: 1;
            position: relative;
   
    
}
.abt{
    margin-top: 13%;
    padding-left: 80px;
}
.vsn{
    padding-left: 80px;
    margin-top: 8%;
}
.paracontainer{
    flex-basis: 50%;
    padding-left: 30px;

}
.started , .he3 {
    text-align: center;
}
.howstart {
    position: relative;
     align-items: center;
}
.img2{
    width: 20%;
    height: 20%;
text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.started1{
    
    padding-left:  230px ;
    padding-right: 230px;
}
.ddots , .ddots1 ,.drdots , .square1{
    position: relative;
    
}
.dots{
    position: absolute;
     top: -60px;
}
.dots1{
    position: absolute;
    left: 50%;
    top: -60px;
}
.triangles{
    position: absolute;
    top: 75%;
    left: 85%;
}
.triangles1{
    position: absolute;
    right: 85%;
}
.dots3{
    position: absolute;
        align-items: center;
        justify-content: center;
        top: -1%;
        left: 32%;
        z-index: 0;
}
.squares{
   padding-right: 30px;

    
    
}
