@use "../../styles/theme";

.container {
  background-color: theme.$bg2;
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  padding: 32px;
  * {
    z-index: 1;
  }
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  position: relative;
  min-width: 70vw;
  svg, button {
    margin-top: 8px
  }
  .startsFrom {
    background-color: theme.$offwhite;
    border: 3px dashed theme.$primary;
    border-radius: 8px;
    padding: 8px;
    min-width: 350px;
    font-weight: 500;
  }
  .showSummary {
    font-weight: 600;
    align-self: flex-start;
  }
}

.showSummary:hover {
  cursor: pointer;
}

.decoratives * {
  position: absolute;
  z-index: 0;
}

.circle {
  width: max(150px, 40vw);
  height: max(150px, 40vw);
  background-color: theme.$primary;
  border-radius: 50%;
  filter: blur(400px);
  z-index: 0;
}
