@use "../../styles/theme";

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  z-index: 1000;
  span {
    margin: 0 16px;
    font-size: x-large;
    font-weight: 600;
  }
  div {
    padding: 16px 24px;
    width: 100vw;
    display: flex;
  }
}
