.container {
  background: #d3d3d3;
}

.dots {
  margin-top: -7%;

  position: relative;
  left: -5%;
}
.dots1{
    position: relative;
    left: 89%;
    margin-top: 1%;
}
.head1 {
  padding-left: 30%;
  font-weight: 700;
  font-size: 36px;
  line-height: 56px;
  margin-top: -51px;
}

.card {
  width: 70%;
  bottom: 0%;

  background: #fff5e1;
  // box-shadow: 0px 4px 29px 4px rgba(255, 255, 255, 0.25);
  border-radius: 92px 0px;
  justify-content: center;

  text-align: center;
  padding: 30px;
  position: relative;
  display: flex;
  flex-direction: column;
}
.div1 {
  width: 30%;
  height: 30%;
  background: #fff;
  border: 3px solid #f4b32a;
  border-radius: 26px;
}
.div2 {
  background-color: #fff;
  width: 30%;
  height: 30%;
  border: 3px solid #f4b32a;
  border-radius: 26px;
}
.row1,
.row2 {
  display: flex;
  padding: 32px 15px;
  justify-content: space-evenly;
}
.buttons1 {
  position: relative;
  margin-top: 20px;
  padding-left: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.back {
  background: #fff0cf;
  border: 1px solid #ffd56b;
  border-radius: 24px 0px;
  width: 169px;
  height: 52px;

  font-size: 22px;
  line-height: 33px;
  float: left;
}
.next {
  background: #f4b32a;
  border: 1px solid #ffd56b;
  border-radius: 24px 0px;
  width: 169px;
  height: 52px;

  font-size: 22px;
  line-height: 33px;
}
.tri {
  position: absolute;
  left: 84%;
  top: 35%;
}
