@use "../../styles/theme";

.container {
  background-color: theme.$bg2;
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  padding: 32px;
  button {
    min-width: 300px;
  }
}

.card {
  border-bottom-right-radius: 48px;
  border-top-left-radius: 48px;
  background-color: theme.$offwhite;
  width: min-content;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  position: relative;
  svg, button {
    margin-top: 8px
  }
}

.head {
  align-self: flex-start;
  position: relative;
  z-index: 2;
}

.decoratives * {
  position: absolute;
  z-index: 1;
}

.circle {
  width: max(150px, 40vw);
  height: max(150px, 40vw);
  background-color: theme.$primary;
  border-radius: 50%;
  filter: blur(400px);
  z-index: 0;
}
