@use "../../styles/theme";

.footer {
  width: 100vw;
  background-color: theme.$primary;
  color: theme.$text_on_primary;
  background: linear-gradient(98.74deg, #f4b32a 9.75%, #ffe6b2 90.54%);
  clip-path: polygon(
    0 16px,
    7% 12px,
    14% 10px,
    21% 10px,
    28% 12px,
    34% 16px,
    40% 24px,
    46% 34px,
    50% 40px,
    54% 46px,
    60% 50px,
    66% 52px,
    70% 52px,
    77% 50px,
    83% 46px,
    89% 42px,
    95% 38px,
    100% 34px,
    100% 100%,
    0% 100%
  );
  padding: 48px 24px 8px 24px;
  display: grid;
  position: relative;
  grid-template-areas:
    "footer-main footer-main footer-about-us footer-offerings footer-locations"
    "footer-main footer-main footer-about-us footer-offerings footer-locations"
    "footer-get-in-touch footer-get-in-touch footer-about-us footer-offerings footer-locations"
    "footer-get-in-touch footer-get-in-touch footer-about-us footer-offerings footer-locations"
    "footer-copyrights footer-copyrights footer-copyrights footer-copyrights footer-copyrights";
  @media (max-width: 768px) {
    padding: 48px 16px 4px 16px;
    grid-template-areas:
      "footer-main footer-main"
      "footer-main footer-main"
      "footer-get-in-touch footer-get-in-touch"
      "footer-get-in-touch footer-get-in-touch"
      "footer-get-in-touch footer-get-in-touch"
      "footer-about-us footer-offerings"
      "footer-about-us footer-offerings"
      "footer-about-us footer-offerings"
      "footer-about-us footer-offerings"
      "footer-locations footer-locations"
      "footer-locations footer-locations"
      "footer-locations footer-locations"
      "footer-locations footer-locations"
      "footer-copyrights footer-copyrights"
      "footer-copyrights footer-copyrights";

      .offerings{
        ul{
          list-style: none;
        }
      }
  }
  @media (max-width: 500px) {
    padding: 48px 16px 4px 16px;
    grid-template-areas:
      "footer-main"
      "footer-main"
      "footer-get-in-touch"
      "footer-get-in-touch"
      "footer-get-in-touch"
      "footer-about-us"
      "footer-about-us"
      "footer-about-us"
      "footer-about-us"
      "footer-offerings"
      "footer-offerings"
      "footer-offerings"
      "footer-offerings"
      "footer-locations"
      "footer-locations"
      "footer-locations"
      "footer-locations"
      "footer-copyrights"
      "footer-copyrights";
  }
}

.main {
  grid-area: footer-main;
  text-align: center;

  div {
    display: inline-block;
  }
}

.getInTouch {
  grid-area: footer-get-in-touch;
  text-align: center;
}

.aboutus {
  grid-area: footer-about-us;
  ul li {
    list-style-type: none;
    font-size: larger;
    font-weight: 600;
  }
  @media (max-width: 768px) {
    text-align: center;
    margin-top: 12px;
    ul {
      padding: 0;
    }
  }
}

.offerings {
  grid-area: footer-offerings;
  ul {
    padding-left: 8px;
  }
  @media (max-width: 768px) {
    text-align: center;
    margin-top: 12px;
    ul {
      padding: 0;
    }
  }
}

.locations {
  grid-area: footer-locations;
  @media (max-width: 768px) {
    text-align: center;
  }
}

.copyrights {
  grid-area: footer-copyrights;
  display: flex;
  margin-top: 48px;
  @media (max-width: 768px) {
    text-align: center;
    flex-direction: column-reverse;
    margin-top: 12px;
    div {
      text-align: center !important;
      margin-top: 12px;
    }
  }
  div {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    :nth-child(1) {
      font-weight: 600;
    }
  }

  :nth-child(2) {
    * {
      font-weight: 400 !important;
    }
  }
}

.contactDetails {
  display: flex;
  text-align: center;
  div {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    margin: 0 12px;
    :nth-child(1) {
      font-weight: 600;
    }
  }
}

.lampImage {
  top: 0;
  right: 12px;
  position: absolute;
  @media (max-width: 768px) {
    display: none;
  }
}
