.bgimg {
  width: 100vw;
  z-index: 1;
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  filter: brightness(0.7);
}

.ourvision {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 600px) {
  .img1{
    width: 60vw !important;
    margin: 16px 0;
  }
  .container {
    overflow-x: hidden;
  }
  .ourvision {
    flex-direction: column;
    position: relative;
  }
  .started1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 10% !important;
    padding: 0% !important;
  }

  .line {
    position: absolute;
    width: 37% !important;

    margin-top: -7%;
    left: -13% !important;
  }
  .line1 {
    position: absolute;
    width: 50% !important ;
    margin-top: -7%;
  }
  .line2,
  .line3 {
    position: absolute;
    width: 50% !important;
    margin-top: -6% !important;
  }
  .img2 {
    position: absolute;
    width: 54% !important;
    height: 45% !important;
  }
  .paracontainer {
    flex-direction: column;
    max-width: none !important;
  }
  .howstart {
    flex-direction: column-reverse;
  }
}

.img1 {
  width: 30vw;
  margin: 0 16px;
  z-index: 1;
}
.abt {
  // margin-top: 13%;
  z-index: 1;
  // top: -2%;
  // position: absolute;
  // padding-left: 80px;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.vsn {
  // padding-left: 80px;
  margin-top: 8%;
  text-align: left;
  padding-left: 40px;
}
.msn {
  // padding-left: 80px;
  margin-top: 8%;
  text-align: center;
}
.paracontainer {
  padding: 30px;
  max-width: 50vw;
}
.started,
.he3 {
  text-align: center;
}
.howstart {
  position: relative;
  align-items: center;
}
.img2 {
  width: 20%;
  height: 20%;
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  margin: auto;
  z-index: 1;
  position: relative;
}
.started1 {
  padding-left: 230px;
  padding-right: 230px;
}
.line {
  width: 13%;
  border: 4px solid #000000;
  position: relative;
  top: -5%;
  left: -35%;
}
.line1 {
  width: 13%;
  border: 4px solid #000000;
  position: relative;
  top: -5%;
}
.line2 {
  width: 7%;
  border: 4px solid #000000;
  position: relative;
  margin-top: -1%;
}
.line3 {
  width: 7%;
  border: 4px solid #000000;
  position: relative;
  margin-top: -1%;
}
.triangles4 {
  position: absolute;
  top: 30%;
  left: 30%;
  z-index: 0;
}

  
