.container {
  background: #d3d3d3;
}

.dots {
  position: relative;
  width: 200px;
  left: -6px;
}

.est {
  position: relative;
  left: 14%;
  margin-top: -5%;
  align-self: flex-start;
}
.card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.section {
  display: flex;
}
.b1 {
  background: #fff5e1;
  border: 3px solid #f4b32a;

  border-radius: 20px 0px;
  padding: 16px 24px;
  max-width: min-content;
  min-width: 350px;
  margin: 30px;
  display: flex;
  flex-direction: column;

  h2,
  h3 {
    margin: 4px 8px;
  }
  p {
    margin: 0;
  }
}
.b0 {
  background: #fff5e1;
  border: 3px solid #f4b32a;

  border-radius: 20px 0px;
  padding: 16px 24px;
  max-width: min-content;
  min-width: 350px;
  margin: 30px;
  display: flex;
  flex-direction: column;

  h2,
  h3 {
    margin: 4px 8px;
  }
  p {
    margin: 20px;
  }
}
.buttons1 {
  button {
    margin: 0 40px;
  }
}
.dots1 {
  left: 90%;
  margin-top: -5%;
  position: relative;
}
.tri {
  position: absolute;
  right: -10%;
}
.tri1 {
  position: absolute;
  left: -10%;
  margin-top: 8%;
}
@media screen and (max-width: 1000px) {
  .section {
    flex-direction: column  ; 
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 570px) {
  .b1,
  .b0 {
    max-width: 80vw;
  }
  .est {
    max-width: 80vw;
  }
  .dots {
    width: 39px;
  }
}
