@use "../../styles/theme";

.container {
  background-color: theme.$bg2;
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  padding: 32px;
}

.card {
  border-bottom-right-radius: 48px;
  border-top-left-radius: 48px;
  background-color: theme.$offwhite;
  width: min-content;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  position: relative;
  min-width: 70vw;
  svg, button {
    margin-top: 8px
  }
}

.head {
  align-self: flex-start;
  position: relative;
  z-index: 2;
}

.decoratives * {
  position: absolute;
  z-index: 0;
}

.circle {
  width: max(150px, 40vw);
  height: max(150px, 40vw);
  background-color: theme.$primary;
  border-radius: 50%;
  filter: blur(400px);
  z-index: 0;
}

.buttons {
  z-index: 2;
  position: relative;
  margin-top: 24px;
  button {
    margin: 0 24px;
  }
}

.dimensions {
  margin-top: 24px;
  display: flex;
  justify-content: center;
  button {
    background: rgba(theme.$primary, .26);
    border: 2px solid theme.$primary;
    border-radius: 20px;
    height: 40px;
    text-transform: uppercase;
    padding: 8px 16px;
    min-width: 100px;
    margin: 0 16px;;
    font-family: 'Spectral';
  }
}

@media screen and (max-width: 700px) {
  .card {
    img {
      width: 70vw;
    }
  }
}
