@use "../../../styles/theme";

.container {
  background-color: #ffeabc;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  padding: 32px;
}

.backgroundCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px;
  border-top-left-radius: 36px;
  border-bottom-right-radius: 36px;
  position: relative;
  z-index: 100;
}

.card {
  border-bottom-right-radius: 48px;
  border-top-left-radius: 48px;
  width: min-content;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  position: relative;
  svg,
  button {
    margin-top: 8px;
  }
}

.head {
  align-self: flex-start;
  position: relative;
  z-index: 2;
}

.square1 {
  top: 0;
  right: 0;
  position: absolute;
  z-index: 0;
}

.square2{
  left: 0;
  bottom: 0;
  position: absolute;
  z-index: 0;
}

.kitchenTypeCard {
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 32px;
  margin: 0 16px;
  box-shadow: 0px 8px 24px #ccc;
  min-width: 200px;
  .imageHolder {
    background-color: theme.$primary_light;
    padding: 0;
    flex-grow: 1;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    display: flex;
    flex-direction: column;
  }
  .textHolder {
    background-color: white;
    padding: 16px 8px;
    text-align: center;
    font-weight: 600;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
  }
  .selectedHolder,
  .notSelectedHolder {
    margin: 12px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    border: 2px solid theme.$primary;
    align-self: flex-end;
    position: relative;
  }
  .selectedHolder::before {
    display: block;
    content: "✔";
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, -25%);
    color: theme.$primary;
  }
}

.kitchenTypeHolder {
  .kitchenTypeHolderRow {
    display: flex;
  }
}

.kitchenTypeHolder {
  display: flex;
  padding: 32px 16px;
}
.buttons {
  margin-top: 24px;
  z-index: 2;
  button {
    margin-left: 12px;
    margin-right: 24px;
    min-width: 150px;
  }
}

@media screen and (max-width: 1000px) {
  .kitchenTypeHolder {
    flex-direction: column;
    .kitchenTypeHolderRow {
      margin-top: 16px;
    }
  }
}

@media screen and (max-width: 500px) {
  .kitchenTypeHolder {
    flex-direction: column;
    .kitchenTypeHolderRow {
      flex-direction: column;
    }
  }
  .kitchenTypeCard {
    margin-top: 12px;
  }
  .buttons button {
    margin-left: 8px !important;
    margin-right: 12px !important;
    min-width: 50px !important;
  }
}
