.container {
  background-color: #fff4dc;
}
// .head{
//     position: relative;
// }
.vector{
    position: relative;
}
.est {
     margin-top: 2%;
    padding-left: 14%;

}
.dots {
  position: relative;
  left: -5%;
  margin-top: -5%;
}
.v1{
        // position: absolute;
    border-radius: 20%;
    padding-left: 25%;
    
}
.v2{
    // position: absolute;
    border-radius: 20%;
    padding-left: 10%;
}
