.container {
  background-color: #fff4dc;
}
// .head{
//     position: relative;
// }
.vector{
    position: relative;
}
.est {
     margin-top: 2%;
    padding-left: 14%;

}
.dots {
  position: relative;
  left: -5%;
  margin-top: -5%;
}
.v1{
      border-radius: 20%;
    padding-left: 29%;
    z-index: 1;
    position: relative;
    
}
.v2{
    // position: absolute;
    border-radius: 20%;
    padding-left: 10%;
}
.circle{
        border-radius: 50%;
    background-color: white;
    width: 101px;
    height: 85px;
    position: relative;
    left: 27%;
    
}
