@use "../../../styles/theme";
.container {
  background-color: #ffeabc;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  padding: 32px;
}

.backgroundCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px;
  border-top-left-radius: 36px;
  border-bottom-right-radius: 36px;
  position: relative;
  z-index: 100;
}

.card {
  border-bottom-right-radius: 48px;
  border-top-left-radius: 48px;
  background-color: #fff5e1;
  width: min-content;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  position: relative;
  min-width: 70vw;
  svg,
  button {
    margin-top: 8px;
  }
}

.head {
  align-self: flex-start;
  position: relative;
  z-index: 2;
}

.square1 {
  top: 0;
  right: 0;
  position: absolute;
  z-index: 0;
}

.square2 {
  left: 0;
  bottom: 0;
  position: absolute;
  z-index: 0;
}

.kitchenTypeCard {
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 16px;
  background-color: theme.$primary;
  margin: 0 16px;
  align-items: center;
  justify-content: center;
  padding: 36px;
  min-width: 50vw;
}

.kitchenTypeHolder {
  padding: 32px 16px;
  .dimensions {
    display: flex;
    width: 100%;
    table {
      text-align: center;
      width: 100%;
      font-weight: 600;
      margin-top: 36px;
      tr {
        margin-top: 12px;
      }
      input {
        border-radius: 20px;
        height: 40px;
        border: 3px solid theme.$primary;
      }
    }
  }
}

.buttons {
  margin-top: 24px;
  z-index: 2;
  button {
    margin-left: 12px;
    margin-right: 24px;
    min-width: 150px;
  }
}

@media screen and (max-width: 600px) {
  .kitchenTypeCard {
    max-width: 60vw;
    img {
      max-width: 50vw;
    }
  }
  .dimensions {
    max-width: 70vw;
    overflow-x: auto;
    input {
      width: 100px;
      border-width: 2px !important;
    }
  }
  .buttons button {
    margin-left: 8px !important;
    margin-right: 12px !important;
    min-width: 50px !important;
  }
}
